.navList {
  list-style: none;
  display: flex;
  flex-direction: column;
  li {
    height: auto;
    box-sizing: border-box;
    flex: 1 1;
  }
  a {
    text-decoration: none;
    border: 1px solid black;
    padding: 5px;
  }
}
